html,header,body{
    font-family: monospace;
   font-size: 15px;
}
#a-title{
   ;
    font-family: monospace;
}
ul{
    display: flex;
    justify-content: flex-start;
}
li{
    display: block;
    padding: 1rem;
}
@media (max-width: 80px){
    ul{
         flex-direction: column;
    }
}
.carousel-frame {
    width: 100%;
    margin-bottom: 0.5em;
    padding-bottom: 1em;
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
 }
 .carousel-frame ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}
.carousel-frame li.carousel-item {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}

a{
    
    display: flex;
    flex-direction:wrap;
}

.thumbs-block {
    position:relative; /**/
    overflow: hidden;
    background: #ccc;
    margin: 0 5px;
    width: 714px;
    height:142px;      /**/
} 
.thumbs-block .thumbs {
    white-space: nowrap;
    text-align: center;
}
.thumbs-block .thumbs {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 120px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.thumbs{
  position:absolute;  /**/
  margin-left:0;      /**/
}